.product-add-root {
  max-width: 540px;
  margin: 32px auto 0 auto;
  min-height: 75vh;
}
.product-add-paper {
  padding: 32px;
  border-radius: 14px;
  box-shadow: 0 2px 16px #bcbcbc36;
}
.product-add-upload-btn {
  width: fit-content;
}